/* 

	Arquivo CSS geral com estilos dos elementos de todas páginas 

*/

* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 62.5%; /* equivalente a 10px */
}

body {
	background-color: black;
}

h1 {
	color: #F2D1C9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-size: 2rem;
}

h2 {
	text-align: center;
	color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 2rem;
}
h3 {
	color: #D9A79C;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

 p, li {
	font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
}

a {
	color: #F2D1C9;
	text-decoration: none;
}

#primeiro-link > a {
	color: #F2D1C9;
}

ul {
	
	border-radius: 10%;
	border-collapse: collapse;
	font-size: 20px;
}

ul li {
	
	color: #732937;
	font-size: 0.8em; /* equivalente a 16px */
	font-size: 1.6rem; /* equivalente a 16px */
	width: 80%;
	height: 3rem; /* equivalente a 30px */
}

p {
	
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 1.8rem; /* equivalente a 16px */
	
}




.navegacao {
	
}

.navegacao li {
	border-bottom-width: 70%;
	border-top-width: 70%;
	border-right-width: 70%;
	border-left-width: 70%;
	border-bottom: 1px solid #732937;
	display: block;
	padding: 1rem 1rem 2rem 1rem;
	line-height: 1.2rem;
}

.navegacao a {
	color: white;
	display: block;
	margin-bottom: .5rem;
	width: 100%;
}

form {
	background: black;
	padding: 10px;
}

form div {
	background: black;
	border-bottom: 1px solid #732937;
	margin: 1rem;
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem; 
	font-family: sans-serif;
	font-weight: bold;
	color: white;
}

input {
	padding: 1rem;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}

header {
  background-color: #090A0D;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
.imagem-homepage {
	text-align: center;
}
article img{ 
	text-align: center;
	border-radius: 50%;
	width: 30%;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}


@media (max-width:768px) {
	nav {
	  width: 30vw;
	}
	article {
	  width: 70vw;
  
	}
	.coluna {
	  width: 50vw;
	  min-width: unset;
	}
  }
  @media (max-width: 600px) {
	nav, article {
	  width: 100%;
	  height: auto;
	}
  }
  
  /* Smartphone */
  @media (max-width:425px) {
	nav, article, .coluna {
		  width: 100%;
		  min-width: 320px;

